<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>cn.bdqn.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  		<filter-name>EncodingFilter</filter-name>
  		<!-- 拦截所有 -->
  		<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>cn.bdqn.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  		<filter-name>LoginFilter</filter-name>
  		<!-- 拦截所有 -->
  		<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsShowServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.NewsShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserModifyServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.UserModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegistServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.UserRegistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserDelServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.UserDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductAddServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ProductAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductClassServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ProductClassServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductRegistServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ProductRegistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductbServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ProductbServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ProductUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsAddServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.NewsAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsmodifyServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.NewsmodifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsresultServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.NewsresultServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsDelServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.NewsDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentModifyServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.CommentModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResultCommentServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ResultCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentresServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.CommentresServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentDelServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.CommentDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductClassAddServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ProductClassAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProDelServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ProDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProCatAddServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ProCatAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PrClassmfyServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.PrClassmfyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PcaResultServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.PcaResultServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CategoryDelServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.CategoryDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegResultServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.RegResultServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoLoginUser</servlet-name>
    <servlet-class>cn.bdqn.servlet.DoLoginUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductviewServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ProductviewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ShoppingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateNumServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.UpdateNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelCartServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.DelCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ClearCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAdrServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.AddAdrServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GuestbookServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.GuestbookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.LoginOutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowAdrressServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ShowAdrressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductlistServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ProductlistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GuestServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.GuestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangStatuServlet</servlet-name>
    <servlet-class>cn.bdqn.servlet.ChangStatuServlet</servlet-class>
  </servlet>













































  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsShowServlet</servlet-name>
    <url-pattern>/newsShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/manage/userServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserModifyServlet</servlet-name>
    <url-pattern>/manage/userModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegistServlet</servlet-name>
    <url-pattern>/manage/userRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDelServlet</servlet-name>
    <url-pattern>/manage/userDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/manage/productServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductAddServlet</servlet-name>
    <url-pattern>/manage/productAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductClassServlet</servlet-name>
    <url-pattern>/manage/productClassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductRegistServlet</servlet-name>
    <url-pattern>/manage/productRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductbServlet</servlet-name>
    <url-pattern>/manage/productbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <url-pattern>/manage/productUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/manage/newsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsAddServlet</servlet-name>
    <url-pattern>/manage/newsAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsmodifyServlet</servlet-name>
    <url-pattern>/manage/newsmodifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsresultServlet</servlet-name>
    <url-pattern>/manage/newsresultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsDelServlet</servlet-name>
    <url-pattern>/manage/newsDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/manage/commentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentModifyServlet</servlet-name>
    <url-pattern>/manage/commentModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResultCommentServlet</servlet-name>
    <url-pattern>/manage/resultCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentresServlet</servlet-name>
    <url-pattern>/manage/commentresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentDelServlet</servlet-name>
    <url-pattern>/manage/commentDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/manage/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductClassAddServlet</servlet-name>
    <url-pattern>/manage/productClassAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProDelServlet</servlet-name>
    <url-pattern>/manage/proDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProCatAddServlet</servlet-name>
    <url-pattern>/manage/proCatAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrClassmfyServlet</servlet-name>
    <url-pattern>/manage/prClassmfyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PcaResultServlet</servlet-name>
    <url-pattern>/manage/pcaResultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryDelServlet</servlet-name>
    <url-pattern>/manage/categoryDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegResultServlet</servlet-name>
    <url-pattern>/regResultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoLoginUser</servlet-name>
    <url-pattern>/doLoginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductviewServlet</servlet-name>
    <url-pattern>/productviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/shoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateNumServlet</servlet-name>
    <url-pattern>/updateNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCartServlet</servlet-name>
    <url-pattern>/delCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/clearCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdrServlet</servlet-name>
    <url-pattern>/addAdrServlet</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/addressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestbookServlet</servlet-name>
    <url-pattern>/guestbookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/loginOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAdrressServlet</servlet-name>
    <url-pattern>/showAdrressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductlistServlet</servlet-name>
    <url-pattern>/productlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestServlet</servlet-name>
    <url-pattern>/guestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangStatuServlet</servlet-name>
    <url-pattern>/manage/changStatuServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
